@charset "UTF-8";
*{
	margin: 0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	
}

/* 브라우저 마진과 패딩 리셋 */
	* {margin:0;padding:0;}

	/* INPUT 가리기 */
	.section [id*="slide"] {display:none;}
	
	/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
	.section .slidewrap {max-width:1200px;margin:0 auto;overflow:hidden;position:relative;}
	.section .slidelist {white-space:nowrap;font-size:0;}
	.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
	.section .slidelist > li > a {display:block;position:relative;}

	/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
	.section .slide-control {position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;}
	.section .slide-control label {position:absolute;z-index:1;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
	.section .slide-control .left {left:30px;background:url('./img/left.png') center center / 100% no-repeat;}
	.section .slide-control .right {right:30px;background:url('./img/right.png') center center / 100% no-repeat;}
	.section .slide-control [class*="control"] {display:none;}

	/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
	.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
	.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
	.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
	
	/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
	.section [id="slide01"]:checked ~ .slidewrap .control01 {display:block;}
	.section [id="slide02"]:checked ~ .slidewrap .control02 {display:block;}
	.section [id="slide03"]:checked ~ .slidewrap .control03 {display:block;}
	
/*메인 슬라이드*/	
	@media (min-width: 768px) {

    /* show 3 items */
    .carouselPrograms .carousel-inner .active,
    .carouselPrograms .carousel-inner .active + .carousel-item,
    .carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carouselPrograms .carousel-inner .carousel-item-next,
    .carouselPrograms .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carouselPrograms .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carouselPrograms .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carouselPrograms .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
	
	/*메인 첫번째 */
.mainBG{
	/*background: yellow;*/
	height: 230px;
	 width: 1300px;
 margin: auto;
 margin-top: 45px;
   
}
.container {
    padding: 0 10px;
   /* background: pink;*/
     height: 230px;
     display: flex;
     
}

.main_tit{
	/*background: gray;*/
    font-weight: 800;
    margin: 0;
    color: #0e347e;
    font-size: 2.325rem;
    font-family: 'Recipekorea';
    margin-bottom: 0.3rem;

}

 .main_tit span {
 font-family: 'Recipekorea';
    color: #564e00;
    font-size: 1rem;
    text-transform: none;
    background: white;
}
.mainBG p{
    font-size: 0.937rem;	
    color: #202020;
    line-height: 150%;
     font-family: 'LotteMartHappy';
   /*  background: purple;*/
}

.main_img1	{
	/*background: red;*/
	flex: 1;
	
}
	
	
.main_img1>img{
	display: block; margin-left: 205px ; 
	width: 75%;
	height: 100%;
	
}
	
	
/*메인 두번째*/	
	
.mainBG2{
	margin: auto;
	width: 1300px;
	height: 500px;
	background-image:url('./img/고양이배경.png');
	display:block;
	text-align: center;
	background-size: 100%100%;
	margin-top: 50px;
	
	
}	
.inner{
	/*background: blue;*/
	padding-top: 50px;
}
.sect_title>h5{
	font-family: 'ELAND_Choice_L';
	color: #666;
	font-size: 9pt;
	/*background: yellow;*/
	
}
.sect_title>h1{
	  font-family: 'BMEuljiro10yearslater';
	  color: #009900;
	  font-size: 30pt;
	 /* background: red;*/
	  
	}
.sect_title>p{
	   font-family: 'LotteMartHappy';
	 /* background: purple;*/
	  
	}	  
		
.cat{
	width: 50%;
	height:50%;
	margin: auto;
	/*background: pink;*/
	position: relative;
        top: 32px;
}	
	
/*페이지 아래 주소*/	
.footer{	
padding: 37px 0 26px;
border-bottom: 1px solid #e3e3e3;
border-top:1px solid #e3e3e3;
/*background: yellow;*/
    font-weight: 300;
    font-size: 14px;
    color: #666;
      font-family: 'ELAND_Choice_L';
	    display: block;
	    width: 1300px;
	    margin: auto;
	    margin-bottom: 40px;
	     
}	
.footer_link > li>a {
	font-weight:bold;
    position: relative;
   
}	
/*
.inner2{
	background: yellow;

	}
	.footer_link{
	background: blue;
	}
.footer_link > li ~ li:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    content: '';
    width: 1px;
    height: 9px;
    background-color: #ccc;
}	
.footer_link > li > a {
    font-size: 14px;
    font-weight: 600;
   
}
.address{
	background: pink;
	
	}
.address>ul {
	font-size: 10pt;
}
*/
	

/*전체상품 페이지*/	

.meun{
	width: 1300px;
	height:600px;
	/*background: green;*/
	margin: auto;
}

.meun>h1 {
	margin-top: 80px;
	text-align: center;
	/*background: pink;*/
	color: #0e347e;
font-family: 'ELAND_Choice_L';
font-weight: bold;
	
}
.i{
	display:flex;
	width: 100%;
	/*background: orange;*/
}

.i>li{
	height: 320px;
	flex:1;
	/*background: red;*/
	margin-top: 40px;
	text-align: center;
}
.i>li>a>.meun_img>img{
	width: 250px;
	height: 250px;
	
}
.i>li:not(:last-child){
	margin-right: 20px;
}

.Nname{
	margin-top:10px;
	font-size: 18px;
	font-weight: bold;
	 font-family: 'ELAND_Choice_L';
	 color:  #0e347e;
}	
.price{
	width: 180px;
	font-size: 17px;
	font-weight: bold;
	color: #0e347e;
	/*background: yellow;*/
	 font-family: 'Binggrae-Bold';
	text-align: center;
	margin: auto;
	
}
.meun >h1:after {
    width: 58px;
    height: 3px;
    display: block;
    margin: 1rem auto 6rem;
   /* background: #0e347e;*/
    content: '';
}

/*상품 소개 페이지*/
.show_Wrap{
	width: 1300px;
	/*background: pink;*/
	height: 400px;
	margin: auto;
	margin-top: 60px;
	
	
}

.show_inner1{
	width: 750px;
	/*background: purple;*/
	height: 400px;
	margin: auto;
	
}
.show_intro{
	display:flex;
	/*background: skyblue;*/
}

.show_intro>li{
	height: 400px;
	flex:1;
	/*background: red;*/
	text-align: center;
}

.show_img{
	/*background: blue;*/
	width: 345px;
	height:400px;
}
.show_intro>li>.show_img>img{
	width: 100%;
	height:100%;
	
}
.show_intro>li:not(:last-child){
	margin-right: 30px;
}

/*사진옆 상품 가격 설명 부분*/
.show_img2{
	text-align: left;
	font-family: 'ELAND_Choice_L';
}
.show_img2>h5{
		/*background: fuchsia;*/
		color:  #787878;
		
}
.show_img2 >h2{
	/*background: aqua;*/
	font-size: 20pt;
	font-family: 'Binggrae-Bold';
}
.show_limte{
	background: #fcdf33;
	color: white;
	border-radius:7%;
}

.show_price{
	/*background: lime;*/
	margin-top: 10px;
}

.show_price > h2{
	color: #ff2f2f;
	font-size: 20pt;
	font-family: 'Binggrae-Bold';
}

.coupon {
	/*background: yellow;*/
	margin-top: 28px;
}
.Ship {
	/*background: yellow;*/
	margin-top: 10px;
}
.Ship2{
	display: flex;
}

.text_street{
/*background: purple;*/
margin-left: 130px;
}
.all_Price{
	/*background: yellow;*/
	margin-top: 40px;
}
.text_street2{
	margin-left: 80px;
	/*background: aqua;*/
}
.Ship2>.all_Price2{
	margin-top: 12px;
}
.text_street2 > h2> input{
	border: none;
	text-align: right;
	 background:rgba(0, 0, 0, 0.0);
     color: #ff2f2f;
     font-family: 'Binggrae-Bold';
     height:40px;
      width:200px;
     font-size: 20px;
     
}
.Sbutton_head{
	text-align: center;
}
.Sbutton{
	/*background: purple;*/
	width: 100%;
	height:50px;
	margin-top: 43px;
}
.Sbutton_in{
	display: flex;
}
.Sbutton_in>li{
	flex: 1;
}
#Pbuy {
	width:150px;
  height: 30px;
  background: #fcdf33;
  color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  margin: auto;
  border: none;
  height: 50px;
  font-weight: bold;

}

#Pcart {
	width:150px;
  height: 30px;
  background: #ffffff;
  color: #fcdf33;
  font-size: 17px;
  line-height: 30px;
  margin: auto;
  border: none;
  height: 50px;
  font-weight: bold;
}

/*상품 상세 설명*/

.main_text1{
  width: 1300px;
  height:659px;
   margin-top:100px; 
  /* background: #2F7AF4;*/
   margin-left: 40px;
}

.main_text1 > h2{
  padding-top:50px;
  text-align: center;
 /* background: #408080;*/
  border-bottom: 1px solid  #e3e3e3;;
  font-family: 'ELAND_Choice_L';
}

.service {
  width:1300px;
  display: flex;
  margin: 49px auto;
  height:427px;
}

.service > .contents2 {
  font-family: 'ELAND_Choice_L';
  flex: 1;
 /*background: fuchsia;*/
  margin-right: 40px;
}
.service > .contents2 > h2{
  margin-bottom: 27px;
  font-family: 'ELAND_Choice_L';
}

.photo>img{
	width:80%;
	 height:100%;
	 margin-left: 50px;
}




/*구매페이지*/
.buytable{
	width: 1300px;
	margin: auto;
	/*background: aqua;*/
	margin-top: 50px;
	   font-family: 'ELAND_Choice_L';
}
/*주문 결제 테이블  */
.top{
	padding-bottom: 30px;
	padding-top: 70px;
	
}

#body1{
	width:70px;
}
#body2{
	width:45px;
	color:  #bab4ba;
}

/*제품 정보 테이블 */
.body1{
	 /*border-top: 1px solid #444444;*/
	padding: 24px 0 20px;
	 text-align: center;
	 /* border-bottom: 1px solid #444444;*/

}
.body2{
	/* border-top: 1px solid #444444;*/
	 text-align: center;
	 /*border-bottom: 1px solid #444444;*/
}

/*배송지 정보 */	
.s2{
	display:block;
	background:#ffffca;
	width: 110px;
}	
.check{
	padding-bottom: 20px;
}
.tdC{
	 padding-left: 20px;
	 font-weight: 500;
	 font-size: 12pt;
	 width: 150px;
	 padding-bottom: 10px;
	 padding-top: 10px;
}
.inputS{
	width: 40px;
}
#addr1{
	width: 350px;
}



#tdC{
	padding-bottom: 10px;
	padding-top: 10px;
}
#memo{
	width: 350px;
}
